* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  width: 100%;
  height: 100%;
}

#singIn {
  width: 95%;
  height: 100%;
  display: flex;
  padding: 20px;
  gap: 20px;
}
#singIn__img {
  width: 50%;
}
#singIn__img figure img {
  width: 100%;
}
#singIn__section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  background-color: rgb(219, 219, 219);
}
#singIn__section form input {
  border-radius: 10px;
  border: none;
  text-align: center;
}
#singIn__section form button {
  border-radius: 10px;
  border: none;
  width: 50px;
}

#singUp {
  width: 100%;
  gap: 40px;
  padding-top: 20px;
}
#singUp h1 {
  text-align: center;
}
#singUp form {
  width: 200px;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
  background-color: rgb(211, 209, 209);
}
#singUp form input {
  border: none;
  border-radius: 10px;
  text-align: center;
}
#singUp form button {
  border: none;
  border-radius: 10px;
  width: 60px;
}

#home {
  width: 100%;
  display: flex;
}
#home #profile__edit {
  background-color: rgb(221, 218, 218);
}
#home #profile__edit .arrow {
  background-color: rgb(2, 180, 2);
  color: white;
}
#home #profile__edit .name {
  background-color: white;
}
#home #profile__edit .name nav img {
  width: 20px;
}
#home .edit-hidden {
  display: none;
}
#home .chats {
  width: 35%;
  display: flex;
  flex-direction: column;
}
#home .chats #profile {
  padding: 10px;
}
#home .chats #profile figure img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  object-fit: cover;
}
#home .chats .chats__section {
  width: 100%;
}
#home .chats .chats__section .chats__search {
  background-color: rgb(200, 200, 201);
  padding: 10px;
}
#home .chats .chats__section .chats__search input {
  width: 100%;
  height: 20px;
  text-align: center;
  border: none;
  border-radius: 10px;
}
#home .chats .chats__section .chats__contacts {
  width: 100%;
}
#home .chats .chats__section .chats__contacts .chats__img {
  width: 96%;
  padding: 10px;
  display: flex;
  font-size: 15px;
  background-color: rgb(247, 245, 245);
}
#home .chats .chats__section .chats__contacts .chats__img figure img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  object-fit: cover;
}
#home .chats .chats__section .chats__contacts .chats__img nav {
  display: flex;
}
#home .chats .chats__section .chats__contacts .chats__img nav div {
  padding: 5px;
}
#home .chats .chats__section .chats__contacts .chats__img .ms {
  display: flex;
}
#home .chats .chats__section .chats__contacts .chats__img .ms img {
  width: 10px;
}
#home .chats .chats__section .chats__contacts .chats__img:hover {
  cursor: pointer;
  background-color: rgb(234, 232, 232);
}
#home #prof {
  width: 65%;
}
#home #prof #profile__chat {
  width: 96%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  background-color: rgb(184, 184, 184);
}
#home #prof #profile__chat figure img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
#home #prof #profile__chat .profile__search img {
  width: 35px;
  height: 35px;
}
#home #prof #profile__chat button {
  border-radius: 10px;
  width: 60px;
  height: 30px;
  border: none;
}
#home #prof .send__messages {
  width: 98%;
  height: 80%;
  background-color: rgb(158, 156, 156);
  display: flex;
  flex-direction: column;
}
#home #prof .send__messages nav {
  width: 98%;
  height: 80%;
  background-color: rgb(217, 216, 216);
  padding: 5px;
  overflow-y: auto;
}
#home #prof .send__messages nav::-webkit-scrollbar {
  width: 0;
}
#home #prof .send__messages nav #send__left {
  background-color: white;
  padding: 5px;
  border-radius: 0 8px 8px 8px;
  max-width: 350px;
  word-wrap: break-word;
}
#home #prof .send__messages nav #send__right {
  background-color: rgb(131, 252, 152);
  padding: 5px;
  border-radius: 8px 0 8px 8px;
  max-width: 350px;
  word-wrap: break-word;
  margin-left: auto;
}
#home #prof .send__messages form {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
}
#home #prof .send__messages form figure img {
  width: 20px;
}
#home #prof .send__messages form input {
  width: 85%;
  border: none;
  border-radius: 10px;
}

@media (max-width: 450px) {
  #home .chats {
    width: 100%;
    display: flex;
  }
  #home #prof {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
